# Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de Logs
*.log

# Entornos Virtuales
venv/
env/
.env
.venv/

# Directorios de cache
__pycache__/
*.pyc

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración personal
*.env

# Directorios de compilación y distribución
build/
dist/

# Archivos de bases de datos
*.sqlite3

# Paquetes y dependencias del Frontend (si usas React)
node_modules/

# Archivos y datos sensibles
*.csv

# Archivos de configuraciones locales de IDEs
.idea/
.vscode/
*.sublime-*

# Otros archivos de configuración
*.iml
*.swp
*.swo

# Archivos temporales y cachés
*.bak
*.tmp


